#include "Resources.h"

ID ICON "cinder_app_icon.ico"

//RES_MY_RES
RES_SGUI_FONT
RES_STATS_FONT
RES_CUBE_OBJ
RES_SQUARE_OBJ
RES_SPHERE_OBJ
RES_TORUS_OBJ
RES_VERT_SHADER
RES_FRAG_SHADER

NOISE_SAMPLER
SSAO_VERT
SSAO_FRAG
SSAO_FRAG_LIGHT
DEFER_VERT
DEFER_FRAG
BBlender_VERT
BBlender_FRAG
BLUR_H_VERT
BLUR_H_FRAG
BLUR_V_VERT
BLUR_V_FRAG
LIGHT_VERT
LIGHT_FRAG
ALPHA_RGB_VERT
ALPHA_RGB_FRAG
RES_SHADER_CUBESHADOW_VERT
RES_SHADER_CUBESHADOW_FRAG
RES_SHADER_FXAA_VERT
RES_SHADER_FXAA_FRAG

