#include "Resources.h"

ID ICON "cinder_app_icon.ico"

//RES_MY_RES
RES_SGUI_FONT
RES_STATS_FONT

RES_CUBE_OBJ
RES_SQUARE_OBJ
RES_SPHERE_OBJ
RES_TORUS_OBJ

RES_HIGHLIGHT_TEX
RES_TITLE_TEX  
RES_RULES_TEX  
RES_READY_TEX  
RES_WINNER_TEX 
RES_LOSER_TEX  
RES_CREDITS_TEX
RES_P1_CURSOR_TEX
RES_P2_CURSOR_TEX

RES_SFX1_SOUND
RES_SFX2_SOUND
RES_SFX3_SOUND

RES_VERT_SHADER
RES_FRAG_SHADER
